body{

    background: url("/assets/images/bg.jpg");
/*     background: linear-gradient(rgb(12,12,60),rgb(12,12,11)); */      
    position: relative;
    background: contain;
}

.header{

    height: 90px;
    width: 100%;

    background: url(/assets/images/back.jpg);
    background: cover;

    display: flex;
    justify-content: center;

    position: sticky;
    top: 0;


}

header{
     
    position: sticky;
    top: 0;

}

nav{

    flex: 1;
    text-align: right;
}   

nav ul{

    list-style-type: none;

}

nav ul li{

    display: inline-block;
    margin: 10px 40px 40px 40px;
}

nav ul li a{

    font-family: cursive;
    font-size: 1.5em;
    color: aqua;

}



#name-tag{

    text-align: center;
    color: white;

    font-family: 'Passions Conflict', cursive;
    font-size: 7em;
    margin-left: 20px;
    position: relative;
    bottom: 90px;

}

.text-header{

    margin-left: 10px;
    font-size: 3em;
    color: aqua;
    font-family: 'Dosis', sans-serif;

}

.text{

    margin-left: 10px;  
    color: aqua;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;

}

.all-texts{

    margin: auto;
    width: 95%;
    background: rgba(12,12,112,0.5 );


}

.container{

    margin: auto;

    height: 500px;
    width: 95%;
    background: radial-gradient(circle, gray,lightgray);

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.container-item{

    background: lightcoral;
    height: 50px;
    width: 50px;
    text-align: center;

    line-height: 50px;
    border-radius: 30px;

}

.buttons{

    display: flex;
    height: 150px;
    width: 95%;

    margin: 0 auto 0 auto;

    background: gray;
    justify-content: center;
    align-items: center;


}

#button{

    background: rgb(238, 184, 41);
    transition: all 1s ease;


}

#button:hover{

    background: rgb(258, 104, 61);
    font-weight: 400;
    transform: scale(1.5);

    margin: 10px;

}


#button-2{


    margin: 10px;
    background: none;

    animation-name: the-first;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


#facebook-image{

    padding-top: 4px;

    margin: 10px;
    height: 20px;   
    width: 20px;


}



@keyframes the-first{

    0%{
        background: purple;
        color: white;

    }

    50%{
        background: blue;
        color: gray;

    }

    100%{
        background: blueviolet;
        color: black;

    }


}

.tester{


    height: 200px;
    width: 80%;
    
    margin: 40px auto 10px auto;

    display: flex;
    background: skyblue;

    justify-content: center;
    align-items: center;


}

.test{

    height: 60px;
    width: 60px;
    margin: 10px;
    background: steelblue;

    text-align: center;
    line-height: 60px;


}  

.overflow-checker{

    height: 100px;
    width: 40%;

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255,0.6  );

    overflow: auto;

}