body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0E0B16;
}

.navigation-bar{

    display: flex;
    height: 11vh;
    width: 6%;
    margin-left: 20px;
    margin-top: 10px;

    justify-content: center;
    align-items: center;

    position: relative;
    transition: 300ms ease;
}

.navigation-logo{

    height: 40%;
    width: 40%;

    background: url(/assets/arrow.png);
    background-size: cover;
    transition: 450ms;

}

.navigation-logo:hover{
    transform: rotate(-90deg);
}
.menu{
    display: none;
    height: 70px;
    width: 120px;   
}
.menu ul{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2em;
}
.menu ul li a:hover{

    color: chocolate;

}

.navigation-logo:hover .menu{
    display: block;
    position: absolute;
    left: -120%;
    top: 90%;
    transform: rotate(90deg);
}

.header-overlay{

    height: 24vh;
    width: 12%;
    background: chocolate;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;

    position: absolute;
    top: -5%;
    left: -6%;
    z-index: -1;

}

.hider-overlay{

    height: 12vh;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    top: 9.5%;
    left: 1.5%;
    z-index: 1;

    background: chocolate;
    box-shadow: 1px 1px 10px black;

}

.slanted-line{

    height: 120vh;
    width: 2%;
    background-color: chocolate;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    top: -20%;
    left: 40%;
    z-index: -1;

    transform: skewX(40deg);

}

.main-section{

    height: 20vh;
    width: 50%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile-picture{

    height: 100%;
    width: 20%;
    background: url(/assets/Prabhat.jpg);
    background-size: cover;
    transition: 450ms ease;
    box-shadow: 2px 2px 10px black;
    z-index: ;
}

.profile-overlay{

    height: 90%;
    width: 70%;
    position: absolute;
    background: white;
    display: none;
    transition: 400ms;
    z-index: -1;

}

.profile-picture:hover{

    height: 180%;
    width: 35%;

}

.profile-picture:hover .profile-overlay{

    display: flex;
    

}

.profile-topic{

    height: 10%;
    width: 10%;
    background-color: rebeccapurple;
    z-index: 2;

}


.main-text{

    height: 100%;
    width: 20%;
    background-color: turquoise;
    z-index: -2;

}

.second-text{

    height: 100%;
    width: 20%;
    background-color: turquoise;
    z-index: -2;

}