body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(17,12,23);

    animation: pageLoadAnimationColor 2s ease;

}

.navigation-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    width: 100%;

    animation: pageLoadAnimationHeader 1s ease;

}

.navigation-bar ul li{
    list-style: none;
    display: inline;
    margin: 0px 10px;
}

.navigation-bar ul a{
    text-decoration: none;
    color: white;
}

.left-design{
    height: 85vh;
    width: 40vw;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -5%;
    left: -20%;
    overflow: hidden;
    z-index: -1;

    animation: pageLoadAnimationLeftDesign 2s ease;

}

.leftDesign-text{
    position: absolute;
    left: 35%;
    top: 14%;
    font-size: 7em;
    color: #07020D;

    animation: pageLoadAnimationLeftText 2s ease;
}

@keyframes pageLoadAnimationColor{
    0%{
        background-color: rgb(7,2,13);
    }
    100%{
        background-color: rgb(17,12,23);
    }
}

@keyframes pageLoadAnimationLeftDesign{
    0%{
        transform: scale(0.2);
    }
    100%{
        transform: scale(1)
    }
}

@keyframes pageLoadAnimationLeftText{
    0%{
        transform: scale(8);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes pageLoadAnimationHeader{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px);
    }
}