body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(8,29,16);
}

.navigation-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    width: 100%;
}

.navigation-bar ul li{
    list-style: none;
    display: inline;
    margin: 0px 10px;
}

.navigation-bar ul a{
    text-decoration: none;
    color: white;
}

.left-design{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: white ;
    position: absolute;
    top: -5%;
    left: -20%;
    z-index: -1;
    overflow: hidden;
}

.leftDesign-text{
    position: absolute;
    left: 42%;
    top: 14%;
    font-size: 7em;
    color: rgb(0,19,8);
}