html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 1.5rem;
}

::-webkit-scrollbar-track{
    background-color: #07020D;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(37,32,43);
    border-radius: 1rem;
    border: 0.5rem solid transparent;
    background-clip: content-box;
}



body{
    margin: 0px;
    padding: 0px;
    background-color: #07020D;

    animation: pageLoadAnimationBody 2s ease;
}

.body-design{
    height: 80vh;
    width: 40vw;
    background-color: white;
    rotate: 43deg;
    margin-left: -20vw;
    position: absolute;
    box-shadow: 5px 5px 8px;

    animation: pageLoadAnimationDesign 1s ease;
}

.top-header{
    display: flex;
    height: 100px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-left: 9%;
}

.top-header h1{
    color: aliceblue;
    margin-right: 10px;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;

    animation: pageLoadAnimationMid 1s ease;

}

.underline{
    margin-top: -2%;
    margin-left: 20%;
    height: 2px;
    width: 80%;
    background-color: white;

    animation: pageLoadAnimationUnderline 2s ease;
}

#profile-image img{
    height: 90px;
    width: 90px;
    border-radius: 5%;
    margin-left: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px;
}

.menu{
    height: 200px;
    width: 200px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 48%;
}

.menu .toggle{
    position: absolute;
    top: 5%;
    z-index: 3;
    background-color: white;
    transition: 0.5s;
}

.menu .home-button{
    position: absolute;
    z-index: 1;
    top: 5%;
    transition: 0.5s;
}

.menu .info-button{
    position: absolute;
    top: 5%;
    z-index: 1;
    transition: 0.5s;
}

.menu .contact-button{
    position: absolute;
    top: 5%;
    transition: 0.5s;
    z-index: 1;
}

.menu.active .toggle{
    transform: translateY(-90px);
    background: none;
}

.menu.active .home-button{
    transform: translateY(-50px);
}

.menu.active .contact-button{
    transform: translateY(-10px);
}

.menu.active .info-button{
    transform: translateY(30px);
}

.toggle-text{
    height: 20px;
    width: 40px;
    position: absolute;
    top: 8%;       
    left: 60%;
    display: none;
}

.toggle:hover + .toggle-text{
    display: block;
}

.menu.active .toggle + .toggle-text{
    top: -37%;
}

.home-text{
    height: 20px;
    width: 45px;
    position: absolute;
    top: -17%;
    left: 60%;
    display: none;
}

.home-button:hover + .home-text{
    display: block;
}

.contact-text{
    height: 20px;
    width: 55px;
    position: absolute;
    top: 3%;
    left: 60%;
    display: none;
}

.contact-button:hover + .contact-text{
    display: block;
}

.info-text{
    height: 20px;
    width: 40px;
    position: absolute;
    top: 22%;
    left: 60%;
    display: none;
}

.info-button:hover + .info-text{
    display: block;
}

.mid-body{
    height: 350px;
    width: 75%;
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;

    animation: pageLoadAnimationMid 1s ease;
}

.pictures{
    height: 300px;
    width: 400px;
    margin-left: 10px;
    margin-top: 2%;
    box-shadow: 1px 2px 10px black;
    animation: picture-slideshow 35s infinite ease;
}

.text-part{
    position: relative;
    top: -10%;
    height: 380px;
    width: 40%;
    margin-top: -2%;
    font-size: 1.1em;
    color: white;
}

.text-part h3{
    font-size: 2em;
}

#info-section{
    height: 70vh;
    width: 60%;
    color: white;

    padding: 10px;
    box-shadow: 1px 1px 4px black;

    position: relative;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes picture-slideshow{

    0%{
        background: url("/assets/slideshow/one.jpg");
        background-size: 100% 100%;
    }
    10%{
        background: url("/assets/slideshow/two.jpg");
        background-size: 100% 100%;
    }
    20%{
        background: url("/assets/slideshow/three.jpg");
        background-size: 100% 100%;
    }
    40%{
        background: url("/assets/slideshow/four.jpg");
        background-size: 100% 100%;
    }
    50%{
        background: url("/assets/slideshow/six.jpg");
        background-size: 100% 100%;
    }
    60%{
        background: url("/assets/slideshow/seven.jpg");
        background-size: 100% 100%;
    }
    70%{
        background: url("/assets/slideshow/eight.jpg");
        background-size: 100% 100%;
    }
    80%{
        background: url("/assets/slideshow/nine.jpg");
        background-size: 100% 100%;
    }
    90%{
        background: url("/assets/slideshow/ten.jpg");
        background-size: 100% 100%;
    }
    100%{
        background: url("/assets/slideshow/eleven.jpg");
        background-size: 100% 100%;
    }
}

@keyframes pageLoadAnimationDesign{
    0%{
        transform: rotate(43deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes pageLoadAnimationMid{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translate(0px);
    }
}

@keyframes pageLoadAnimationUnderline{
    0%{
        transform: scale(0.2)
    }
    100%{
        transform: scale(1);
    }
}

@keyframes pageLoadAnimationBody{
    0%{
        background-color: rgb(37,32,43);
    }
    100%{
        background-color: rgb(7,2,13);   
    }
}

@media screen and (max-width: 990px){
    .body-design{
            height: 20vh;
            width: 30vw;
    }

    .menu{
        top: 12%;
        left: -3%;
    }
}